
/* ----------------------------------------------------------------

	footer.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Footer
-----------------------------------------------------------------*/
#footer {
	position: relative;
	background-color: $footer-bg;
	border-top: $footer-top-border;
}

@if $footer-sticky-global {
	@include media-breakpoint-up(lg) {
		#footer {
			position: sticky;
			top: auto;
			bottom: 0;
			left: 0;
		}

		#slider:not(.slider-parallax-invisible),
		#page-submenu,
		#page-title,
		#content { z-index: 2; }
	}
}

@include media-breakpoint-up(lg) {
	.sticky-footer #slider:not(.slider-parallax-invisible),
	.sticky-footer #page-submenu,
	.sticky-footer #page-title,
	.sticky-footer #content { z-index: 2; }

	.sticky-footer #content {
		transform: translate3d(0,0,0);
	}

	.sticky-footer #footer {
		position: sticky;
		top: auto;
		bottom: 0;
		left: 0;
	}
}

#footer .footer-widgets-wrap {
	position: relative;
	padding: $content-padding 0;
}

#copyrights {
	padding: round($content-padding / 2) 0;
	background-color: darken($footer-bg, 6.67);
	font-size: $copyrights-font-size;
	line-height: $line-height-content;

	i.footer-icon {
		position: relative;
		top: 1px;
		font-size: $copyrights-font-size;
		width: $copyrights-font-size;
		text-align: center;
		margin-right: 3px;
	}

	a {
		display: inline-block;
		margin: 0 3px;
		color: darken($text-color, 6.67);
		border-bottom: 1px dotted $text-color;
		&:hover {
			color: lighten($text-color, 6.67);
			border-bottom: 1px solid lighten($text-color, 13.33);
		}
	}
	.text-end a:last-child { margin-right: 0; }
}


.copyrights-menu { margin-bottom: 10px;
	a {
		font-size: $copyrights-font-size;
		margin: 0 10px;
		border-bottom: 0 !important;
		&:first-child { margin-left: 0; }
	}
}


.footer-logo {
	display: block;
	margin-bottom: 30px;
}


//custom css
.footer{
	.border-left{
		border-left: 0 !important;
		@include media-breakpoint-up(lg){
			border-left: 1px solid #dee2e6 !important;
		}
		
	}
	.widget{
		margin-bottom: 10px;
		@include media-breakpoint-up(lg){
			margin-bottom: 0;
		}
		&_ftr-logo{
			img{
				height: 60px;
			}
		}
		h4{
			margin-bottom: 0;
			font-size: 18px;
			letter-spacing: normal;
			display: flex;
			justify-content: space-between;
			i{
				@include media-breakpoint-up(md){
					display: none;
				}
			}
			@include media-breakpoint-up(lg){
				margin-bottom: 25px;
				font-size: 21px;
			}
		}
		&_slide-content{
			padding-top: 10px;
			@include media-breakpoint-up(lg){
				padding-top: 0;
			}
		}
		&_links__social{
			li{
				display: inline-block;
				a{
					font-size: 21px;
				}
			}
		}
		.iconlist{
			li{
				border:none !important;
			}
			a{
				font-weight: 500;
			}
		}
		&_categories{
			//ul{
			.menu-footer-popular-category-container{
				
				@include media-breakpoint-up(lg){
					display: flex;
					flex-wrap: wrap;
				}
				li{
					&:first-child{
						display: none;
					}
					
					@include media-breakpoint-up(lg){
						flex: 0 0 50%;
						max-width: auto;
					}
				}
			}
			
		}
	}
}
