.woocommerce{
    &-ordering{
        float: none !important;
        select.orderby{
            height: 40px;
            padding: 0 8px;
            border-color: #ccc;
            border-radius: 3px;
        }     
    }
    &-checkout{
        #payment{
            background-color: transparent;
            padding: 0;
        }
        .form-row{
            flex-direction: column;
        }
        .step{
            background-color: #efefef;
            padding: 0 15px 15px 15px;

            h3{
                padding: 7px 14px;
                background-color: #000;
                color: #fff;
                font-size: 18px;
                margin-left: -15px;
                margin-right: -15px;
            }

            .btn_1{
                position: relative;
                cursor: pointer;
                outline: none;
                white-space: nowrap;
                margin: 5px;
                padding: 8px 22px;
                font-size: .875rem;
                line-height: 24px;
                background-color: #ef2853;
                color: #fff;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 1px;
                border: none;
            }
            .place-order{
                padding:0 !important;
            }
        }
    }
    
}
.woocommerce-mini-cart{
    .mini_cart_item{
        a{
            display: flex;
            flex-wrap: wrap;
            figure{
                flex: 0 0 20%;
                max-width: 20%;
            }
            strong{
                flex: 0 0 80%;
                max-width: 80%;
            }
        }
    }
}