.woocommerce{
    &-ordering{
        float: none !important;
        select.orderby{
            height: 40px;
            padding: 0 8px;
            border-color: #ccc;
            border-radius: 3px;
        }     
    }
}